extends layout 

block layout-content 
    div.row
        div.col-12 
            h1 Hello, world!
            form(action="/", method="post", id="form") 
                div.mb-3
                    label(for="amount" class="form-label") Send Amount
                    input(type="text" class="form-control" class=errors.amount ? 'is-invalid' : '' id="amount" name="amount" aria-describedby="amountHelp")
                    if errors.amount
                        div.invalid-feedback #{errors.amount.msg}
                    else
                        div(id="amountHelp" class="form-text") Please enter an amount

                button(type="button" class="btn btn-outline-primary") 200,000

