extends layout 

block layout-content 

    

    div(class="row justify-content-md-center")

        div.col-xs-10.col-sm-10.col-md-8.col-lg-4 

            ul(class="nav nav-pills my-3 justify-content-between")
                li(class="nav-item")
                    a(class="nav-link rounded-pill" aria-current="page" href="") 
                li(class="nav-item")
                    a(class="nav-link rounded-pill active shadow" href="") FAQs 
            


            div.card.p-2.shadow
                ul(class="nav nav-pills nav-fill mb-2" id="operator")
                    li(class="nav-item")
                        a(class="nav-link active rounded-pill" href="") Airtel
                    li(class="nav-item")
                        a(class="nav-link rounded-pill" href="") MTN

                select(class="form-select rounded-pill" aria-label="Default select example")
                    option(selected) Withdraw Charges
                    option(value="1", disabled) Sending Fees

            form(action="/", method="post", id="form") 
                div.mb-3
                    label(for="amount" class="form-label") 
                    input(type="text" class="form-control rounded-pill" class=errors.amount ? 'is-invalid' : '' id="amount" name="amount" placeholder="Enter Amount" aria-describedby="amountHelp")
                    if errors.amount
                        div.invalid-feedback #{errors.amount.msg}
                    else
                        div(id="amountHelp" class="form-text") 

                //- button(type="button" class="btn btn-outline-primary") 200000

            div.my-2 
                table.table.d-none
                    tbody
                        tr
                            td Charges
                            td#charge 0
                        tr
                            td Tax
                            td#tax 0
                        tr
                            td Total
                            td#total 0

